@import '../../../style/global.scss';

.header-container {
    padding: 20px 35px;
    border-bottom: 1px solid $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo{
        align-self: flex-start;
    }

    .navbar{
        flex-direction: row;
        align-self:flex-end;
    }
}